<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link th:href="@{/css/home.css}" rel="stylesheet">
		<title>ゲーム：解雇</title>
	</head>
	<body>
		<div class=k>
			<p>お金：<span th:text="${user_info.getMoney()}"></span>　　　時間：<span th:text="${transformation.time(user_info.getTime())}"></p>
			<a href="/home/training" class=border>成長・転職へ戻る</a>
			<a th:href="@{/home/training/__${player.getId()}__} "class=border>戦闘員詳細に行く</a>
			<p class=center>退職金が発生します。本当に解雇にしていいですか？</p>
			<form method="post" th:action="@{/home/training/__${player.getId()}__/deleted}" class=center>
				<button type="submit">解雇</button>
			</form>
		</div>
	</body>
</html>