<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link th:href="@{/css/home.css}" rel="stylesheet">
		<title>ゲーム：冒険者詳細</title>
	</head>
	<body>
		<div class=k>
			<p>お金：<span th:text="${user_info.getMoney()}"></span>　　　時間：<span th:text="${transformation.time(user_info.getTime())}"></p>
			<a href="/home/training"class=border>成長・転職へ行く</a>
			<div th:if="${successMessage}"  class=center>
				<span th:text="${successMessage}"></span>
			</div>

			<div class=divcenter><table class=center><thead>
				<th>名前</th>
				<th>職業</th>
				<th>経験</th>
				<th>最大HP</th>
				<th>現在HP</th>
				<th>最大MP</th>
				<th>現在MP</th>
				<th>最大FP</th>
				<th>現在FP</th>
				<th>最大CP</th>
				<th>現在CP</th>
				<th>筋力</th>
				<th>俊敏</th>
				<th>技術</th>
				<th>魔術</th>
				<th>精神</th>
				<th>学力</th>
				<th>体力</th>
				<th>食力</th>
				</thead>
				<tbody>
					<td><span th:text="${player.getName()}"></span></td>
					<td><span th:text="${transformation.Job(player.getJob())}"></span></td>
					<td><span th:text="${transformation.jobskil(player,player.getJob())}"></span></td>
					<td><span th:text="${transformation.max_hp(player)}"></span></td>
					<td><span th:text="${player.getHp()}"></span></td>
					<td><span th:text="${transformation.max_mp(player)}"></span></td>
					<td><span th:text="${player.getMp()}"></span></td>
					<td><span th:text="${transformation.max_fp(player)}"></span></td>
					<td><span th:text="${player.getFp()}"></span></td>
					<td><span th:text="${transformation.max_cp(player)}"></span></td>
					<td><span th:text="${player.getCp()}"></span></td>
					<td><span th:text="${transformation.Fluctuation_Status(player.getMuscle())}"></span></td>
					<td><span th:text="${transformation.Fluctuation_Status(player.getQuick())}"></span></td>
					<td><span th:text="${transformation.Fluctuation_Status(player.getTechnique())}"></span></td>
					<td><span th:text="${transformation.Fluctuation_Status(player.getMagic())}"></span></td>
					<td><span th:text="${transformation.Fluctuation_Status(player.getSpirit())}"></span></td>
					<td><span th:text="${transformation.Fluctuation_Status(player.getKnowledge())}"></span></td>
					<td><span th:text="${transformation.Fluctuation_Status(player.getStamina())}"></span></td>
					<td><span th:text="${transformation.Fluctuation_Status(player.getEating())}"></span></td>
					
				</tbody>
			</table>
			
				
			</div>
			<div class=center>
				<span><a th:href="@{/home/training/__${player.getId()}__/nameEdit}"class=border>名前の変更</a></span>  
				<span><a th:href="@{/home/training/__${player.getId()}__/playertraining}" class=border>訓練</a></span>
				<span><a th:href="@{/home/training/__${player.getId()}__/changejob}"class=border>転職</a></span>
				<span th:if="${player.getJob < 13}"><a th:href="@{/home/training/__${player.getId()}__/item}" class=border>武器装着</a></spanth>
				
			</div>
		</div>
	</body>
</html>