<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link th:href="@{/css/home.css}" rel="stylesheet">
		<title>ゲーム：解説</title>
	</head>
	<body>
		<div class=k>
			<a href="/home" class=border>ホームに戻る</a>
			<div class=indent> 
		<h4>解説</h4>
		<div>
			<h4>モードについて</h4>
			<p>戦闘モード：戦闘できます。編成を行ってから行ってください。全てのお金の収入源です。</p>
			<p>編成モード：メンバーの編成、鍛冶師などの生産職の編成ができます。</p>
			<p>スカウトモード:戦闘員をスカウトすることができます。</p>
			<p>訓練・転職モード:戦闘員の名前の変更、訓練、転職、武器の装着ができます。</p>
			<p>武器作成モード：武器や防具などの装備を作れます。</p>
			
			
		</div>
		<div>
			<h4>お金と時間について</h4>
			<p>お金</p>
			<p>初期資金は潤沢に用意されているがあとは全て戦闘による戦果によって報酬が出る。</p>
			<p>1週間ごとに給料が引かれ、給料は能力によって定められている。</p>
			<p>お金が無くなるとFPとCP（下記参照）が0になるという効果が付きまとう為お金管理を徹底してほしい。</p>
			<p>戦闘で戦闘員が死ぬと遺族に大金をはらわなければならない。</p>
			<p>退職金は能力に応じて払わないといけないが遺族に払う大金と比べればたいしたことない。</p>
			<p></p>
			<p>時間</p>
			<p>時間はあらゆる物事において進むことが確認されている。(編成、武器装着以外)</p>
			<p>戦闘は遠ければ遠いほど時間がかかることがある。</p>
			<p>ダンジョンの中は時間が進まないのでかかるのは移動時間のみである。</p>
			<p>なお21：00～6：00の9時間は考えないものとする。</p>

			
		</div>
		<div>
			<h4>戦闘について</h4>
			<p>主に敵モンスターと戦う場である。</p>
			<p>プレイヤーそれぞれにもつステータスを活用して攻撃値、防御値を決めて攻撃等を行っている。</p>
			<p>詳しいことは下のログに出るようになっている。色々なパターンを試しながら攻略方法を見つけていただきたい。</p>
			<p>注意：ホームに戻るボタンを押すと一瞬でホームに戻るので要注意</p>
			<p></p>
			<p></p>
			<p></p>
			<p></p>
			<p></p>
			<p></p>
			<p></p>
			<p></p>
			<p></p>
			<p></p>
			<p></p>
			<p></p>
			<p></p>
			<p></p>
			
		</div>
		<div>
			<h4>各種能力について</h4>
			<p>能力には2種類ありHP,MPなどの基本能力と筋力、技術などの身体能力があります。</p>
			<p>基本能力は身体能力によって最大値が決められ身体能力が向上すれば基本能力の最大値も変動します。</p>
			<p>戦闘員にはそれぞれ身体能力に限界があり、G～Sまでスカウト時に決められる。</p>
			<P>具体的な最大値等についてはやってみてのお楽しみということで。</P>
			<p></p>
			<h5>基本能力</h5>
			<p>HP,MP,FP,CPの４つである</p>
			<p>HPは戦闘員の生命力を表しており、0になったタイミングで死にます。0になった戦闘員は消滅し、使えなくなります。</p>
			<p>MPは戦闘員の魔術を使うことのできる魔力量のことです。0になると魔法を使った攻撃などが出来なくなります。</p>
			<p>FPは戦闘員の空腹状況を表しており、0になればなるほど空腹です。fpが0の戦闘員を使用すると戦闘員はターンごとにHPとMPが半減します</p>
			<p>CPは戦闘員の集中力を表しており、数値が高いほど集中力も高くなる。CPが0になると攻撃が当たりやすくなる。</p>
			<p></p>
			<h5>身体能力</h5>
			<p>筋力は筋肉量である。分かるよね。</p>
			<p>俊敏は素早さである。文字通り。</p>
			<p>技術は起用さである。あなたの想像通り。</p>
			<p>魔術は戦闘員が秘めてる魔力量である。</p>
			<p>精神はメンタルの強さである。</p>
			<p>学力は学力。</p>
			<p>体力は体力。</p>
			<p>食力は胃の大きさ。</p>
			
		</div>
		<div>
			<h4>職業・経験値について</h4>
			<p>職業は全部で18種類あり、大きく分けると戦闘に行く戦闘職と行かない生産職に分けられる。</p>
			<P>訓練することや戦闘職であれば戦闘に行くこと、生産職であれば編成に入れて生産することで経験値が得られる。</P>
			<p>経験値によって「新人」「未熟」「一般」「練達」「歴戦」となり上に行けば行くほど効果が大きくなる。</p>
			<p>剣使い：目の前の敵に対して攻撃することができる。単体攻撃しかできないが連係で大きな効果を発揮する。</p>
			<p>槍使い：動き回って複数の相手に攻撃することが可能。攻撃ごとにばらつきが激しく上手くいけば大きなダメージを与えられる。連係は苦手。</p>
			<p>弓使い：遠距離から単体を仕留める。あまり攻撃を受けないうえに連係が得意。</p>
			<p>刀使い：剣使いとの差はMPを消費するかどうか。MPを消費する分才能はいるが効果も大きい。連係攻撃ももちろん得意</p>
			<p>斧使い：木こりの道具で攻撃を行う。たまに攻撃が倍になるクリティカルヒットが炸裂する。</p>
			<p>槌使い：「槌」と書いて「つち」と読み、要するに大きなハンマー。HPが一定以下の敵を殲滅させる。連係攻撃をすると味方も巻き添えを食らうことがある。</p>
			<p>棍棒使い：大きな棍棒の攻撃により必ず全員に攻撃が当たる。連係攻撃をするとしっかり味方にも当たる。</p>
			<p>黒魔術師：攻撃特化の魔術師。遠距離からの攻撃のためあまり攻撃を受けないうえに連係も得意。</p>
			<p>盾使い：戦闘員のダメージをかばってくれる。魔法盾使いとの連係防御は一滴の水も許さない。</p>
			<p>魔法盾使い：防御特化の魔術師。盾使いと違いMPを使うことで効果も大きくなるがMPが切れるとなにも出来なくなる。盾使いとの連係防御は一滴の水も許さない。</p>
			<p>白魔術師:回復専用の魔術師。自身のMPを使い味方のHPやMPを回復させる。</p>
			<p>参謀：戦闘の指揮を執る。参謀がいるといないでは連係の質が大きく異なる。</p>
			<p>鍛冶師：剣や槍、斧、槌、棍棒を作る鍛冶師。</p>
			<p>矢師：弓と矢を作ってくれる。志願者が多い割には作るのが難しいらしい。</p>
			<p>刀鍛冶師：刀を作ってくる。作るのがとっても難しい。</p>
			<P>防具鍛冶師：戦闘職の身を守る防具を作る鍛冶師。</P>
			<p>杖職人：魔術師達の杖を作る。魔術の知識は必要らしい。</p>
			<p>教授：色々な知識を教えてくれる。学力の訓練には教授陣が関わっている。学力だけあればいいのかはいささか疑問である。</p>
			
		</div>
		<div>
			<h4>編成について</h4>
			<p>戦闘員、鍛冶師、矢師、刀鍛冶師、防具鍛冶師、杖職人、教授の6編成作れる。</p>
			<p>それぞれ最大8人であり、重複選択出来なくはないがエラーメッセージが出るため保存はできない。</p>
			<p></p>
		
		</div>
		<div>
			<h4>スカウトについて</h4>
			<p>完全ランダムに生成される。</p>
			<p>基本能力は最大値で獲得できる。</p>
			<p>スカウト時点から身体能力が1～3段階アップする。※Sを除く</p>
			<p>アイテムを持っていないので獲得して何もせずに戦闘に連れ出すと何もできない。</p>
			
			
		</div>
		<div>
			<h4>転職について</h4>
			<p>職業の中にはスカウトしても現れない職業もある。転職でしかなれない職業になるためには転職をするしかない。</p>
			<p>転職すると経験値は0からとなり、（前職に経験が無い場合）転職した職業以外の経験値が少し下がる。</p>
			<p>前職で編成に入っていた人を転職させた場合、編成にはその人がはいったままになるが、エラー発生防止のため積極的に外して頂きたい。</p>
			
		</div>
		<div>
			<h4>武器について</h4>
			<p>武器を持っていないと効果が発動しないことがしばしばある。</p>
			<p>積極的に武器を作成し、持たせることを意識してください。</p>
			
		</div>
		
		<div>
			<h4>世界観について</h4>
			<p>もともと異世界転生を予定していたが、武器を戦争年代にしてしまったために方向転換しました。</p>
			<p>色々と考えにくい設定になっていることと思いますがご了承ください。</p>
			
			
		</div>
		</div></div>
	</body>
</html>