<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link th:href="@{/css/home.css}" rel="stylesheet">
		<title>ゲーム：プロローグ</title>
	</head>
	<body>
		<div class=k>
			<a href="/home" class=border>ホームに戻る</a>
			<div class=center>
		<h4>プロローグ</h3>
		<p>時は1936年12月。イギリス・ジョージ5世の死去とスペイン内戦勃発が有名なこの年世界は闇に包まれた。</p>
		<p>突如として宇宙から魔王軍が現れ、世界を支配してしまうかに思われた。</p>
		<p>人間を助けようとするかのようにダンジョンと魔力の発見も行われた</p>
		<p>しかし人間も負けてはいない。ラインラント進駐を進めたドイツ帝国軍を中心に世界の人魔戦争は落ち着きを見せた</p>
		<p>最初は欧州線戦が中心だったが魔王軍は極東に軍を回し始めた。</p>
		<p>大日本帝国軍も派遣されたが極東前線は押され気味であった。そのため大日本帝国は国民に対し人魔戦争への協力を呼びかけた。</p>
		<p>ここ大日本第14部隊では国民から優秀な人材を雇いながら魔王討伐に向かう準備をするようにと仰せられた。</p>
		<p>人材を集め、魔王討伐への長き道のりが今始まる。</p>
		</div></div>
	</body>
</html>