<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link th:href="@{/css/home.css}" rel="stylesheet">
		<title>ゲーム：会員情報</title>
	</head>
	<body>
		<div class=k>
			<a href="/home" class=border>ホームに戻る</a>
			<div th:if="${successMessage}" class=center>
				<span th:text="${successMessage}"></span>
			</div>
			<div class=divcenter>
				<table class=center>
					<thead>
						<th>氏名</th>
						<th>このゲームの評価・感想</th>
					</thead>
					<tbody>
						<td><span th:text="${user.getName()}"></span></td>
						<td><span th:text="${user.getEvaluation()}"></span></td>
					</tbody>
				</table>
			</div>
			<div class=center>
			<p>変更したい場合は下部に書き送信ボタンを押してください</p>
			<form method="post" th:action="@{/home/useredit}" th:object="${userEditForm}">
				<textarea th:field="*{evaluation}">評価・感想</textarea>
					<br><br>
				<button type=submit>送信</button>
			</form>
			</div>
		</div>
	</body>
</html>